#can{
  position:absolute;
  top:10%;
  left:15%;
  border:2px solid;
  border-radius: 4px;
  box-shadow: 2px 2px 20px #888888;
}
#buttons{
  display: inline;
  width: 50%;
  position: 
}
input[type==button]{

}
